### IntelliJ IDEA ###
**/src/main/**/MainFormProto.java
**/src/main/**/MainFormProto.form
**/src/main/**/SettingsFormProto.java
**/src/main/**/SettingsFormProto.form
.idea/
.gradle/
build/
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/mondayTimes.jpg
/otherTimes.jpg
/src/main/java/NotesFormProto.java
/src/main/java/NotesFormProto.form
/src/main/java/com/ghostwalker18/scheduledesktop/NotesFormProto.java
/src/main/java/com/ghostwalker18/scheduledesktop/NotesFormProto.form
/src/main/java/com/ghostwalker18/scheduledesktop/EditNoteFormProto.java
/src/main/java/com/ghostwalker18/scheduledesktop/EditNoteFormProto.form
/src/main/java/com/ghostwalker18/scheduledesktop/ShareAppFormProto.java
/src/main/java/com/ghostwalker18/scheduledesktop/ShareAppFormProto.form
/src/main/java/com/ghostwalker18/scheduledesktop/NoteViewHolder.java
/src/main/java/com/ghostwalker18/scheduledesktop/NoteViewHolder.form
/src/main/java/com/ghostwalker18/scheduledesktop/DatePickerProto.java
/src/main/java/com/ghostwalker18/scheduledesktop/DatePickerProto.form
/src/main/java/com/ghostwalker18/scheduledesktop/NoteFilterFragmentProto.java
/src/main/java/com/ghostwalker18/scheduledesktop/NoteFilterFragmentProto.form
/src/main/java/com/ghostwalker18/scheduledesktop/ImportFormProto.java
/src/main/java/com/ghostwalker18/scheduledesktop/ImportFormProto.form
