<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.sqlite.hibernate.dialect.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:sample.db</property>
        <property name="show_sql ">true</property>
        <property name="hbm2ddl.auto">validate</property>
    </session-factory>
</hibernate-configuration>